*{
    padding:0;
    margin:0;
}
body{
    background-color: #003a6b;
    font-size:20px;
}

.container{
    width: 80%;
    margin-top: 50px;
    margin-left: 55px;
    color: aliceblue;
}
.contact-box{
    background-color: #75a2bf;
    display:flex;
}
.contact-left{
    flex-basis:60%;
    padding:40px 60px;
}
.contact-right{
    flex-basis:40%;
    padding:40px;
    background-color:#5293bb ;
}
h1{
    margin-bottom:10px;
}

.container p{
    margin-bottom:40px;
}

.input-row{
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
}
.input-row .input-group{
    flex-basis:45%;
}
input,textarea{
    background:transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #3a4f63;
    outline: none;
    padding-bottom: 5px;
}
input,
textarea {
    border: none;
    border-bottom: 2px solid #3a4f63;
    background: transparent;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #0b2545;
    box-shadow: 0 4px 6px -4px rgba(0, 102, 204, 0.6); /* bottom shadow only */
    outline: none;
}

input::placeholder,textarea::placeholder{
    color:#3a4f63;
}
textarea{
    width: 100%;
    border: 1px solid #3a4f63;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom:6px;
    display:block;
    color:#0b2545;
}

button{
    background-color:#1b5886 ;
    color: aliceblue;
    width: 100px;
    outline: none;
    height: 35px;
    border-radius:30px;
    margin-top:20px;
    box-shadow: 0px 5px 15px 0px #1b5886cf;
}
.contact-left h2{
    color: #02243f;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact-right h2{
    color: #02243f;
    font-weight: 800;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
